.footer {
    /* float:none; */
    /*position:relative;
    margin-top:-161px;*/
    /*background-color:#090E85;*/
	background-color:#FFF;
    height:160px;
    clear:both;
	/*border-top:1px solid #000;*/
}

.footerPattern {
	position:relative;
	margin-top:-15px;
	background:#FFF URL(Images/pattern.png) repeat-x;
	height:15px;
	clear:both;
}

.copy {
    color:#555555;
    /*padding:1em;*/
	padding-top:16px;
	padding-left:22px;
    font-family:arial;
    font-size:13px;
    clear:both;
}

div.address {
    color:#555555;
    font-family:arial;
    font-size:12px;
    float:left;
    padding-top:12px;
    /*padding-right:0.6em;*/
	line-height:14px;
	text-align:right;
}

.footerImg {
    float:left;
    padding:24px 16px 0 0;
}

.frsb {
	float:left;
	padding:16px;
}

.footer .donate {
	padding:30px 219px 0 219px;
	float:left;
}