.header {
	background:#FFF URL(Images/pattern.png) repeat-x;
	height:257px;
	vertical-align:middle;
	position:relative;
	border-bottom:1px solid #EEE;
	/*border-top:0;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;*/
}

.header .logo {
    text-decoration:none;
}

.javascript {
    padding-top:20px;
}

.social-links {
    float:right;
    width:318px;
}

.social {
    float:left;
    margin-top:35px;
    margin-right:14px;
    text-decoration:none;
}

.header .donate {
	float:left;
	margin-top:38px;
	margin-right:14px;
}

.menuImg {
    float: left;
    margin: 57px 0 0 31px;
    padding-left: 5px;
}

.name {
    color:rgb(0,0,225);
    padding:105px 26px 0 0;
    margin:0;
    font-size:44px;
	/*line-height:1.3em;*/
    font-family:ChaparralProItalic;
	text-align:right;
}

.red {
	color:rgb(225,0,0);
}

.menuBar {
    /*background-color:rgb(0,0,225);*/
    height:47px;
    font-family:arial;
	position:absolute;
	top:210px;
	width:925px;
}

.navbar-default {
	height:50px;
	font-family:arial;
	position:absolute;
	top:207px;
	width:925px;
	background-color:inherit;
	border:0;
}

.navbar-default .navbar-nav > li > a {
  font-weight:bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(225, 0, 0);
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(225, 0, 0);
  background-color: #fff;
  height:49px;
}

.dropdown-submenu {
	position:relative;
}

.dropdown-submenu > .dropdown-menu {
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
	display:block;
}

.dropdown-submenu > a:after {
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#333;
	margin-top:5px;
	margin-right:-10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color:rgb(225,0,0);
}

.dropdown-submenu.pull-left {
	float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}

.dropdown:hover > .dropdown-menu,
.dropdown:focus > .dropdown-menu {
	display:block;
}